button {
  border: none;
  padding: $nudge;
  border-radius: $nudge;
  cursor: pointer;
  outline: none;
  color: #fff;
}

.add-button {
  width: 100px;
  text-transform: uppercase;
  letter-spacing: $letter-spacing;
  background-color: $pink;
  margin-left: 10px;
  padding: 10px;
  transition: $transition;
  margin-bottom: 25px;
  font-size: 16px;
  &:hover {
    background-color: lighten($pink, 2%);
    box-shadow: 0 2px 20px 2px lighten($pink, 18%);
  }
}
