button {
  border: none;
  padding: $nudge;
  border-radius: $nudge;
  cursor: pointer;
  outline: none;
  color: #fff;
}

.search-button {
  background-color: $pink;
  margin-left: 10px;
  padding: 10px;
}
