// Search form
input {
  border: none;
  padding: 10px;
  margin: 10px;
  border-radius: $nudge;
  outline: none;
  // transition: 
}

.search-form {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  background-color: mistyrose;
  input[type=text] {
    height: 30px;
    width: 25%;
    font-size: 20px;
  }
}
