// Search form
input {
  border: 1px solid $teal;
  padding: 10px;
  margin: 10px;
  border-radius: $nudge;
  outline: none;
  // transition:
}

.search-form {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  color: #fff;
  font-size: 15px;
  input[type=text] {
    height: 20px;
    width: 25%;
    font-size: 16px;
  }
}
