nav {
  padding-top: 10px;
  background-color: $pink;
  height: 60px;
  box-shadow: 10px 10px 10px red;
  // border-bottom: 10px solid black;
  li {
    color: white;
    cursor: pointer;
  }
  a {
    color: #fff;
    font-size: 30px;
  }
  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    .left {
      .logo {
        transition: $transition;
        &:hover {
          opacity: $opacity;
        }
      }
    }
    .right {
      font-size: 18px;
      a {
        font-size: 18px;
      }
      .nav-links {
        display: flex;
        li {
          margin-right: 20px;
        }
      }
      .login {
        padding: 10px 15px;
        border: 1px solid #fff;
        border-radius: 15px;
        transition: $transition;
        &:hover {
          opacity: $opacity;
        }
      }
    }
  }
}

.search {
  background: url(../assets/bg.png);
}
