<div class="landing-wrapper">
  <div class="container">
    <div class="landing-container">
      <img src="assets/logo-lg-pink.svg" alt="Purrled logo">
      <img src="assets/cat.png" alt="Cat with yarn" class="cat">
      <h3>A community for knitters</h3>
      <div class="signup-wrapper">
        <p (click)="login()" *ngIf="!isLoggedIn" class="signup">Sign up</p>
      </div>
      <p>Purrled is an online community for knitters to get inspired, share their favorite patterns, and discover their next projects.</p>
      <p class="credit">Built by <a href="http://rosesponseller.com">@avocadobravado</a></p>
    </div>
  </div>
</div>
