<div class="container">
  <div class="process">
    <h1>Making of Purrled</h1>
    <h2>User Flow</h2>
    <div class="sep">
    </div>
    <img src="assets/user-flow.png">
    <h2>Wireframing</h2>
    <div class="sep">
    </div>
    <img src="assets/wf-low.png">
    <img src="assets/wf-low-tab.png">
    <img src="assets/wf-high.png">
    <h2>Prototyping</h2>
    <div class="sep">
    </div>
    <a href="https://invis.io/X8D7NKAKG" class="invision">InVision</a>
    <h2>Branding</h2>
    <div class="sep">
    </div>
    <img src="assets/branding.png">
  </div>
</div>
