// Colors
$teal: #75D1CF;
$pink: #FD8685;
$black: #777;

// Cohesive styling
$nudge: 5px;
$transition: all 0.3s ease-in-out;
$opacity: 0.8;
$letter-spacing: .1em;
$radius: 5px;

// Fonts
$primary: 'Muli', sans-serif;
