<div class="container project-page">
  <h2>Latest Projects</h2>
  <div class="sep"></div>
  <div class="card-wrapper">
    <div *ngFor="let project of projects | async" class="project-card" (click)="goToDetailPage(project)">
      <div class="project-card-text">
        <img src="" id="project-img">
        <!-- {{getImageURL(project.key)}} -->
        <h3>{{project.projectName}}</h3>
      </div>
      <!-- <div *ngIf="currentRoute === '/admin'">
        <app-edit-project [selectedProject]="project"></app-edit-project>
      </div> -->
    </div>
  </div>
</div>
