.landing-wrapper {
  background: url('../assets/landing-background.png');
  height: 100vh;
  margin-top: 0;
  display: flex;
  // justify-content: center;
  h3, p {
    margin: 0;
  }
  h3 {
    font-size: 1.5em;
  }
  p {
    margin: 0;
    color: $pink;
  }
  .cat {
    &:hover {
      animation: cat 750ms infinite alternate ease-in-out;
    }
  }
  .landing-container {
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    min-width: 300px;
    max-width: 500px;
    border-radius: $radius;
    box-shadow: 5px 5px 50px 5px darken($teal, 15%);
    text-align: center;
    img {
      margin: 0 auto 20px auto;
      width: 35%;
      min-width: 150px;
      display: block;
    }
    .signup {
      background-color: $pink;
      color: #fff;
      padding: 10px;
      font-weight: 700;
      letter-spacing: 0.15em;
      text-transform: uppercase;
      border-radius: 5px;
      cursor: pointer;
      width: 100px;
      margin: 20px auto;
      border-bottom: 3px solid darken($pink, 5%);
      transition: $transition;
      &:active {
        transform: translateY(3px);
        border-bottom: 3px solid transparent;
      }
      &:hover {
        box-shadow: 0 2px 20px 2px lighten($pink, 18%);
        opacity: .92;
      }
    }
    .credit {
      margin-top: 10px;
      font-size: 10px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: $letter-spacing;
      a {
        transition: $transition;
        color: $teal;
        &:hover {
          opacity: $opacity;
        }
      }
    }
  }
}

.bg-container {
  background-color: red;
}
