// Main projects
.project-page {
  .card-wrapper {
    @include grid-column(12);
    margin-top: 10px;
    .project-card {
      @include grid-column(4);
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      height: 200px;
      background-color: $pink;
      margin-bottom: 20px;
      .project-card-text {
        width: 100%;
        text-align: center;
        background-color: $teal;
        transition: $transition;
        &:hover {
          opacity: $opacity;
        }
        h3 {
          margin: 0;
          color: #fff;
        }
      }
    }
  }
}

// Project detail pages
.project-detail {
  @include grid-column(12);
  p {
    color: $black;
    font-size: 20px;
  }
  .project-left {
    @include grid-column(5);
    .project-img {
      margin-top: 15px;
      max-width: 350px;
      width: 100%;
      border-radius: $radius;
    }
  }
  .project-right {
    @include grid-column(7);
    h2 {
      margin-top: 30px;
    }
    h3 {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      letter-spacing: $letter-spacing;
      text-transform: uppercase;
      font-weight: 100;
      span {
        color: $pink;
        padding-right: 10px;
        &:hover {
          transform: scale(1.1em);
        }
      }
    }
    .project-icons {
      p {
        font-size: 18px;
        margin: 10px;
      }
      strong {
        color: $teal;
      }
      .name {
        color: $pink;
        font-weight: bold;
        cursor: pointer;
        transition: $transition;
        &:hover {
          opacity: $opacity;
        }
      }
      .project-icon {
        width: 23px;
        padding-right: 10px;
        display: inline;
      }
    }
  }
}
