// Main projects
.project-page {
  .card-wrapper {
    @include grid-column(12);
    margin-top: 10px;
    .project-card {
      @include grid-column(4);
      cursor: pointer;
      margin-bottom: 20px;
      .project-card-text {
        text-align: center;
        transition: $transition;
        padding-bottom: 80%;
        overflow: hidden;
        position: relative;
        border-radius: $radius;
        h3 {
          margin: 0;
          bottom: 0;
          display: flex;
          justify-content: center;
          position: absolute;
          z-index: 9999;
          width: 100%;
          color: #fff;
          padding: 5px;
          background-color: $teal;
          letter-spacing: $letter-spacing;
          text-transform: uppercase;
          font-size: 1.2em;
        }
        &:hover {
          opacity: $opacity;
          box-shadow: 1px 1px 25px 1px $black;
        }
        img {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          z-index: -1;
        }
      }
    }
  }
}

// Project detail pages
.project-detail {
  @include grid-column(12);
  p {
    color: $black;
    font-size: 20px;
  }
  .project-left {
    @include grid-column(4);
    .project-img {
      margin-top: 15px;
      width: 100%;
      max-width: 400px;
      border-radius: $radius;
    }
  }
  .project-right {
    @include grid-column(7);
    h2 {
      margin-top: 30px;
    }
    h3 {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      letter-spacing: $letter-spacing;
      text-transform: uppercase;
      font-weight: 100;
      span {
        color: transparent;
        color: $pink;
        padding-right: 10px;
        transition: $transition;
        &:active {
          transform: scale(1.2);
          color: $pink;
          -webkit-text-stroke: 1px darken($pink, 5%);
          animation: favorite 750ms infinite alternate ease-in-out;
        }
        &:focus {
          color: green;
        }
      }
    }
    .project-icons {
      p {
        font-size: 18px;
        margin: 10px;
      }
      strong {
        color: $teal;
      }
      .name {
        color: $pink;
        font-weight: bold;
        cursor: pointer;
        transition: $transition;
        &:hover {
          opacity: $opacity;
        }
      }
      .project-icon {
        width: 23px;
        padding-right: 10px;
        display: inline;
      }
    }
  }
}

.shit {
  background-color: black;
  font-color: yellow;
  font-size: 100px;
}
