<nav>
  <div class="nav-wrapper">
    <ul class="left">
      <li><a routerLink=""><img src="assets/logo-sm-white.svg" class="logo"></a> </li>
    </ul>
    <ul class="right">
      <div class="nav-links">
        <li *ngIf="isLoggedIn"><a routerLink="projects">Projects</a></li>
        <li *ngIf="isLoggedIn"><a routerLink="friends">Friends</a></li>
        <li *ngIf="isLoggedIn"><a routerLink="admin">Add New</a></li>
        <li *ngIf="isLoggedIn"><a routerLink="profile">Profile</a></li>
        <li (click)="login()" *ngIf="!isLoggedIn" class="login">Login</li>
        <li (click)="logout()" *ngIf="isLoggedIn">Logout</li>
      </div>
    </ul>
  </div>
</nav>
<div class="search" *ngIf="isLoggedIn">
  <form class="search-form">
    <input type="text" name="" value="" placeholder="Search projects">
    <input type="checkbox" name="skill" value="beginner">Beginner
    <input type="checkbox" name="skill" value="intermediate">Intermediate
    <input type="checkbox" name="skill" value="advanced">Advanced
    <button type="submit" name="button" class="search-button">Search</button>
  </form>
</div>

<router-outlet></router-outlet>

<app-home *ngIf="isLoggedIn"></app-home>
<app-landing *ngIf="!isLoggedIn"></app-landing>
