<div class="" *ngIf="upload">
  <div class="progress">
    <div class="" [ngStyle]="{ 'width': upload?.progress + '^'}">
    </div>
    Progress: {{upload?.progress}}% Complete
  </div>
</div>

<div class="container">
  <h2>Add New Project</h2>
  <div class="sep"></div>
    <div class="add-project">
      <div>
        <label>Project Name:</label>
        <br>
        <input #newProjectName>
      </div>

      <div>
        <label for="add-new">Project Image</label>
        <br>
        <input type="file" id="add-new" (change)="handleFile($event)"/>
      </div>

      <div>
        <label>Skill level:</label>
        <br>
        <input #newSkill>
      </div>

      <div>
        <label>Yards of yarn:</label>
        <br>
        <input #newYarnAmount>
      </div>

      <div>
        <label>Yarn weight:</label>
        <br>
        <input #newYarnWeight>
      </div>

      <div>
        <label>Needle size:</label>
        <br>
        <input #newNeedleSize>
      </div>

      <div>
        <label>Pattern details:</label>
        <br>
        <textarea #newPatternInfo></textarea>
      </div>

      <button (click)="submitForm(newProjectName.value, newSkill.value, newYarnAmount.value, newYarnWeight.value, newNeedleSize.value, newPatternInfo.value)">Add</button>
    </div>
  </div>
