<div class="container profile project-detail">
  <div class="profile-left">
    <h2>Profile</h2>
    <div class="sep"></div>
    <h3>{{(profileToDisplay | async)?.name}}</h3>
    <img src="{{(profileToDisplay | async)?.photoURL}}" class="user-photo">
  </div>
  <div class="profile-right project-right">
    <div class="projects">
      <h2>Projects</h2>
      <div class="sep"></div>
        <div class="card-wrapper">
          <div *ngFor="let project of projects | async" class="project-card profile-card" (click)="goToDetailPage(project)">
            <div class="project-card-text">
              <h3>{{project.projectName}}</h3>
            </div>
          </div>
        </div>
      <h2>Favorites</h2>
      <div class="sep"></div>
        <div *ngFor="let favorite of favorites">
          <!-- {{(profileToDisplay | async)?.favorites}} -->
          <!-- (profileToDisplay | async)? -->
          {{(profileToDisplay | async)?.favorites}}
        </div>
    </div>
  </div>
</div>
