body {
  background-color: #fff;
  font-family: $primary;
  font-weight: 300;
  color: $teal;
  letter-spacing: 0.0125em;
  margin: 0;
  padding: 0;
  height: 100vh;
}

a {
  text-decoration: none;
  transition: $transition;
  &:hover {
    opacity: $opacity;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

::selection {
  background-color: $teal;
  color: #fff;
}

// Small separator

.sep {
  max-width: 125px;
  height: 5px;
  background-color: $pink;
}
