body {
  background-color: $teal;
  font-family: sans-serif;
  letter-spacing: 0.01em;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
